{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "6a44bb28-f5ee-47f2-b0ae-8c9048a411d9"}
:block/parent 
{:block/uuid #uuid "6a44bb28-f5ee-47f2-b0ae-8c9048a411d9"}
:block/properties 
{}
:block/uuid #uuid "6a44de79-7ed3-4656-96f0-08013b72c74d"} 
{:block/created-at 1782904798221
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "gray"
:rotation 0
:borderRadius 2
:index 0
:scale [1 1]
:scaleLevel "sm"
:fill "gray"
:type "box"
:size [832 208]
:strokeType "line"
:strokeWidth 1.6
:opacity 1
:label ""
:id "1f98e5b0-7530-11f1-b420-41e4a22c14ce"
:fontWeight 400
:noFill false
:point [-120 104]
:fontSize 16
:parentId "6a44bb28-f5ee-47f2-b0ae-8c9048a411d9"
:nonce 1782898497681
:italic false}}
:block/updated-at 1782904798221} 
{:block/content "((6a44bcb8-e53e-4ad4-871e-2c4201a87392))"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6a44de79-7ed3-4656-96f0-08013b72c74d"}
:block/parent 
{:block/uuid #uuid "6a44bb28-f5ee-47f2-b0ae-8c9048a411d9"}
:block/uuid #uuid "6a44e08a-296d-451c-bfa4-34d21c7696f3"})
:pages (
{:block/uuid #uuid "6a44bb28-f5ee-47f2-b0ae-8c9048a411d9"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6a44bb28-f5ee-47f2-b0ae-8c9048a411d9"
:name "физич"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("1f98e5b0-7530-11f1-b420-41e4a22c14ce")}}
:block/updated-at 1782904800389
:block/created-at 1782889256017
:block/type "whiteboard"
:block/name "физич"
:block/original-name "физич"})}